@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Noto+Sans+JP:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --link-color: #0066cc;
  --code-background: #f6f8fa;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --link-color: #ededed;
  --code-background: #202024;
}

.markdown-body pre {
  color: var(--foreground) !important;
  background-color: var(--code-background) !important;
}

.markdown-body a {
  color: var(--link-color) !important;
}

.markdown-body h2 {
  margin-top: 2em !important;
}

.markdown-body>*:first-child {
  margin-top: 2em !important;
}

